[build.environment]
  SECRETS_SCAN_OMIT_KEYS = "VITE_MEETING_URL,VITE_SUPABASE_ANON_KEY,VITE_SUPABASE_URL,VITE_CONTACT_EMAIL"
[[redirects]]
  from = "/*"
  to = "/index.html"
  status = 200
  force = false

